body, html{
  height:100%;
}
body{
  margin: 0px;
  font-size: 18px;
  background-image: url('gifs/CTwallpaper2.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-color:#444;
}
body, a:link, a:visited, a:active{
  color: hotpink;
}
.title, .addDancerButton{
  padding:11px 12px;
  float:right;
}

.lineUpDancers,
.breakOutDancers{
  padding:11px 12px;
  float:left;
}

.topbar{
  font-weight: bold;
  font-family: 'Comic Sans MS';
  height:55px;
  background-color: #0c7aad;
}
.title{
  font-weight: bold;
  font-family: 'Comic Sans MS';
  height:33px;
  background-color: darkgray
}
.dancer{
  font-weight: bold;
  border:10px solid hotpink;
  border-radius:10px;
  position:absolute;
}
.frog,
.chrono{
  height: 100px;
  width: 100px;
  position:absolute;
}
.marle{
  height: 75px;
  width: 75px;
  position:absolute;
}

.flip{
  transform: rotate(180deg);
}